configuration{
    modi: ["drun", "window", "run"];
    icon-theme: "Papirus-Dark";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    sidebar-mode: false;
    display-drun: "🔍 ";
    display-run: "🔍 ";
    display-window: " ";

    //adding vim keybindings
    kb-row-up: "Up,Control+p";
    kb-row-down: "Down,Control+n";
    kb-cancel: "Control+c";

    kb-accept-entry: "Return";
}
@import "./rounded-purple-dark.rasi"
