services:
  postgres:
    image: postgres:16.2-alpine
    restart: always
    ports:
      - 5433:5432
    volumes:
      - ~/CodingProjects/postgres-data:/var/lib/postgresql/data
    container_name: postgres-db
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
